@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom, #FFFFFF 0%, #E4F1F2 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.blue-gradient-text {
    background: linear-gradient(to right, #4E5DDF 0%, #6EC2FE 100%);
    -webkit-background-clip: text;  /* Clip background to text (Chrome/Safari) */
    -webkit-text-fill-color: transparent; /* Make text color show background */
    font-size: 3em;
    font-weight: bold;
}

.blue-gradient-button {
    background: linear-gradient(to right, #4E5DDF 0%, #6EC2FE 100%);
}